header {
  display: flex;
  justify-content: right;
  height: 50px;
  border: 1px solid black;
}

header .cart-button {
  align-items: flex-end;
  border-radius: 40px;
  padding: 5px 15px;
  align-self: center;
  margin-right: 15px;
}

header .cart-button:hover {
  background: darkseagreen;
}

.goods-list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border: 1px solid black;
}

.goods-list .goods-item {
  height: 170px;
  width: 146px;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 120px;
  border-radius: 15px;
}

.goods-list .goods-item:hover {
  background: azure;
}
